/* large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-btn {
    display: none;
  }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container-inside {
    max-width: 960px;
  }
  .nav-new {
    display: none;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-inside {
    max-width: 720px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .container-inside {
    max-width: 540px;
  }
  .cta-card {
    padding-bottom: 0px;
  }
   .right-img {
    right: -40px !important;
    bottom: -17px;
}
.left-img {
    left: -34px !important;
    bottom: 0px;
}
.cta-image {
        width: 194px;
        height: 184px;
        left: 17px !important;

}
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container-inside {
    max-width: 100%;
  }
  .list-unstyled.fotter-list-link {
    align-items: center;
  }
  footer .social-icons {
    justify-content: center;
  }
}
