#career-banner {
  background: url(../../image/about-us-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1.abt-hd1 {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: var(--fontfamily2);
  font-size: 50px;
  font-weight: 700;
}
p.bnr-p-txt {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  font-family: var(--fontfamily1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* career section****************************** */

#career-sec {
  margin-top: 100px;
  margin-bottom: 100px;
}

#career-sec .hd3 {
  color: #050505;
  font-family: var(--fontfamily2);
  font-style: normal;
  font-weight: 700;
}

#career-sec .head-txt {
  color: #5e6670;
  text-align: center;
  font-family: var(--fontfamily1);
  font-size: clamp(1rem, 0.75rem + 0.694vw, 1.375rem);
  /* scale between 16px at 576px and 22px at 1440px */
  font-style: normal;
  font-weight: 500;
}

#career-sec .career-card-ctm {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ececff;
  background: #fafafa;
  box-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.17);
  transition: 0.5s;
}

#career-sec .career-card-ctm:hover {
  background: #ececff;
}

#career-sec .career-card-ctm .div1 > p {
  color: var(--blue);
  font-family: var(--fontfamily1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

#career-sec .career-card-ctm .div2 .part {
  border-radius: 2px;
  padding: 0px 8px;
  background-color: rgba(231, 246, 234, 1);
}

#career-sec .career-card-ctm .div2 .part > p {
  color: #0ba02c;
  font-family: var(--fontfamily1);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

#career-sec .career-card-ctm .div2 .full {
  border-radius: 2px;
  padding: 0px 8px;
  background-color: rgba(241, 224, 255, 1);
}

#career-sec .career-card-ctm .div2 .full > p {
  color: var(--blue);
  font-family: var(--fontfamily1);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

#career-sec .career-card-ctm .div2 .right {
  color: #767f8c;
  font-family: var(--fontfamily3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

#career-sec .career-card-ctm .div3 li {
  color: #5e6368;
  font-family: var(--fontfamily3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

#career-sec .career-card-ctm .div4 .image-wrap div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

#career-sec .career-card-ctm .div4 .image-wrap div:nth-child(2) {
  margin-left: -10px;
  z-index: 2;
}

#career-sec .career-card-ctm .div4 .image-wrap div:nth-child(3) {
  margin-left: -10px;
  z-index: 3;
}

#career-sec .career-card-ctm .div4 > p {
  color: #5e6368;
  font-family: var(--fontfamily1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

#career-sec .career-card-ctm .div5 .left-btn {
  width: 130px;
  padding: 8px 0px;
  border-radius: 4px;
  border: 1px solid var(--blue);
  background: none;

  color: #303030;
  font-family: var(--fontfamily1);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

#career-sec .career-card-ctm .div5 .right-btn {
  width: 130px;
  padding: 8px 0px;
  border-radius: 4px;
  border: 1px solid var(--blue);
  background: var(--blue);

  color: #fff;
  font-family: var(--fontfamily1);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
