#llm-banner {
    background: url(../../image/new-banner.png);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-size: contain;
    background-position: center top;
}
h1.abt-hd1 {
    color: #fff;
    text-align: left;
    font-family: var(--fontfamily2);
    font-size: 50px;
    font-weight: 700;
            background: linear-gradient(89.88deg, #ffffff 4.69%, #FF9900 20.19%, #75C5F0 45%, #ffbd45 60.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1px;
}