#enterprise-banner {
  background: url(../../image/banners/enter-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-position: 80% top;
}
h1.abt-hd1 {
  text-align: center;
  color: #fff;
  text-align: left;
  font-family: var(--fontfamily2);
  font-size: clamp(1.875rem, 0.625rem + 3.472vw, 3.75rem);
  font-weight: 700;
}
